.example-spacer {
    flex: 1 1 auto;
}

/* Dispositivos pequeños */
@media (min-width: 300px) and (min-width: 700px) {
    #naav {
        background-color: rgb(43, 214, 226);
    }

    #menuInicio {
        display: none;
    }

    #menuProducto {
        display: none;
    }

}

.logo-img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; /* Hace que la imagen sea circular */
    box-shadow: 0px 0px 10px #ff6347; /* Añade sombras negras alrededor */
  }
  


/* dispositivos grandes */


@media (min-width: 700px) {
    #menuseciones{
        display: none;
    }
    


    /*color nav*/
    #naav{
        background-color: #7a1f0d;
        color: aliceblue;
    }
}
