.contenedor {
    margin-top: 120px;
    margin-bottom: 40px;
    margin: 0px;
    padding-bottom: 22px;
    background-color: rgb(143, 130, 155);
    opacity: 30%;


}





#img {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 22px;
    width: 1002px;
    height: 1000px;

}