<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h4>Sobre Nosotros</h4>
          <p>Somos apasionados del ciclismo, dedicados a ofrecerte las mejores bicicletas y accesorios del mercado.</p>
      </div>
      <div class="footer-section">
          <h4>Redireccion</h4>
          <ul>
              <li><a href="/contacto">Contacto</a></li>
              <li><a href="/politicas">Política de Privacidad</a></li>
              <li><a href="/terminos">Términos y Condiciones</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h4>Redes Sociales</h4>
          <ul>
              <li><img src="https://static.vecteezy.com/system/resources/thumbnails/039/300/595/small/facebook-logo-realistic-social-media-icon-logotype-free-free-png.png" width="18%" alt="" id="redesSociales"></li>
              <li><img src="https://cdn3d.iconscout.com/3d/free/thumb/free-instagram-3d-icon-download-in-png-blend-fbx-gltf-file-formats--app-logo-brand-social-media-pack-logos-icons-5753427.png?f=webp" width="18%" alt="" id ="redesSociales"></li>
              <li><img src="https://static.vecteezy.com/system/resources/thumbnails/027/842/790/small/3d-new-twitter-x-logo-icon-3d-inflated-twitter-x-logo-icon-free-png.png" width="20%" alt="" id ="redesSociales"></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
  </div>
</footer>

