<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Sobre Nosotros</h4>
            <p class="textoF">Somos apasionados del ciclismo, dedicados a ofrecerte <br>
                las mejores bicicletas y accesorios del mercado.
            </p>
        </div>
        <div class="footer-section">
            <h4>Redireccion</h4>
            <ul>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/politicas">Política de Privacidad</a></li>
                <li><a href="/terminos">Términos y Condiciones</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <ul>
                
                <li>
                    <a href="https://www.instagram.com/bikepoint.ar/">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/460/small/instagram-logo-instagram-icon-transparent-free-png.png"
                            width="17%" alt="" id="redesSociales"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bikepoint.ar/">
                        <img src="https://cdn-icons-png.flaticon.com/512/2168/2168281.png" width="13%" alt=""
                            id="redesSociales"> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
</footer>