/* Incluye el CSS del carrusel aquí */
.carousel-container {
    display: flex;
    justify-content: center;
  }
  
  .carousel-inner img {
    width: auto;
    max-height: 500px;
    margin: 0 auto;
  }
  