<!--CAROUSEL -->



<div id="carouselExampleFade" class="carousel slide carousel-fade">


    <div class="carousel-inner">

        <div class="carousel-item active" *ngFor="let carrouselimg of carrousel">

            <img src="{{carrouselimg.imagen}}" class="d-block w-200" alt="...">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>

    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>


<!-- Descripción  -->
<div class="description-container">
    <h2>Explora nuestra colección de bicicletas</h2>
    <p>Desde las montañas hasta la carretera, descubre la bicicleta perfecta para cada aventura. Nuestra selección ofrece opciones de alta calidad diseñadas para el máximo rendimiento.</p>
</div>