* Efectos de Hover para las Tarjetas */
.example-card {
  transition: transform 0.3s;
}

.example-card:hover {
  transform: scale(1.05);
}

.mat-card {
  box-shadow: 0 4px 8px 0 rgba(73, 22, 190, 0.952);
  transition: 0.3s;
}

.mat-card:hover {
  box-shadow: 0 8px 16px 0 rgb(226, 9, 9);
}

/* Ajustes para Imágenes y Texto */
.container {
  max-width: 100%;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

p {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
