

/* CSS del Carrousel */
.card {
  margin: 5%;
}

.row {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

/* Efectos de Hover para las Tarjetas */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  box-shadow: 0 4px 8px 0 #3d140d;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #ff6347;
}

/* Ajustes para Imágenes y Texto */
.container {
  max-width: 100%;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

p {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: aliceblue;
}


/* estilo para la info adicional */
.transicion {
  background-color: #ffffff;
  padding: 60px 20px;
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transicion h2 {
  font-size: 28px;
  color: #ff6b35;
  margin-bottom: 20px;
}

.transicion p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 20px;
}

.transicion p:last-child {
  margin-bottom: 0;
}
