<div class="container-fluid text-center container">
  <div class="row">
    <div class="col-4 " *ngFor="let tipo of tipos" >
      <img src="{{tipo.imagen}}" routerLink="{{tipo.ruta}}" class=" card card-img-top" style="height: 100%;" alt="Bicis">
      <p>{{tipo.nombre}}</p>
    </div>

  </div>



  <div class="row">
    <div class="col-md-6 " *ngFor="let info of informacion">
      <img src="{{info.img}}" routerLink="{{info.ruta}}" class="card card-img-top"
        alt="Informacion">
      <p>{{info.pe}}</p>
    </div>
  </div>

  <div class="transicion">
    <h2>Nuestro Compromiso</h2>
    <p>
        En nuestra empresa, creemos firmemente en la importancia de estar en constante crecimiento. Nos esforzamos día a día para ofrecer productos de calidad, mejorar nuestras instalaciones y brindar a nuestros clientes la mejor experiencia. Estamos comprometidos con la innovación y la satisfacción de todos aquellos que confían en nosotros.
    </p>
    <p>
        Nuestro nuevo local es un reflejo de ese esfuerzo, y no solo nos permitirá expandir nuestras operaciones, sino que también nos acercará más a nuestra comunidad. Queremos que te sientas parte de esta evolución, porque tu confianza es lo que nos impulsa a seguir adelante.
    </p>
</div>
